@media screen and (max-width: 650px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 5, 0.5)),
      url('/images/hero-small.webp');
  }

  .app-bar {
    display: block;
    padding: 8px;
  }

  .app-bar__navigation {
    display: none;
    padding: 0;
  }
  .app-bar__navigation ul li {
    list-style-type: none;
    padding-top: 12px;
  }
  .app-bar__navigation ul li a {
    padding: 0;
  }

  .app-bar__navigation.open {
    display: block;
    padding: 0;
    background-color: #f9fafb;
  }

  #formReviewContainer {
    padding: 2rem 2rem 0 2rem;
  }
}

@media screen and (min-width: 650px) {
  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    display: block;
  }

  .app-bar .app-bar__navigation ul {
    display: flex;
  }

  .app-bar .app-bar__navigation ul li {
    list-style-type: none;
  }

  .app-bar .app-bar__navigation ul li a {
    display: block;
    text-align: center;
  }

  .list-item-content {
    padding: 16px 32px 32px 32px;
  }

  .list-item-title {
    font-size: 22px;
  }

  .description {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 5, 0.5)),
      url('/images/hero-medium.webp');
  }

  .katalog-resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info {
    grid-template-columns: 2fr 1fr;

    .main-info {
      order: 2;
    }
  }

  .menus {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 5, 0.5)),
      url('/images/hero-large.webp');
  }

  .katalog-resto,
  #food-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .desc-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .review-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .thumbnail {
    order: 1;
  }

  .container {
    max-width: 1100px;
  }

  .detail-resto {
    max-width: 1100px;
  }
}
